.day {
  display: flex;    
  flex: 1;
  flex-direction: column;
  height: 12vw;
  border-left: solid 1px #aaa;
  cursor: pointer;
  transition: all .2s;
  overflow: hidden;
}

.day:hover {
  background: #eee;
}

.day:first-child {
  border-left:none;
}

.day.today {
  background: #eee;
}

.day.today> p{
  background:#006eca;
  color: #fff;
  border-radius: 50%;
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  text-align: center;
}

.day.different-month {
  color: #ccc;
}

.day.selected{
  background-color: #ddd
}

.day ul{
  padding-inline-start: 0;
  color: #006eca;
  list-style-type: none
}

.day li span{
  color: #000
}

.day li:before {
  content:"·";
  font-size:10vw;
  vertical-align:middle;
  line-height:20px;
}

.text-small {
  margin: 0.3vw;
  font-size: 2vw
}

.text-smaller {
  margin: 0.2vw;
  font-size: 1.5vw
}

.text-xs {
  margin: 0.1vw;
  font-size: 1vw
}