

.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  background: #EFEFEF;
}

.row {
  display: flex;
  width: 100%;
}

.calendar {
  display: block;
  background: #fff;
  width: 90%;
  border: solid 1px #aaa;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #ccc;
  font-size: 1.3rem;
}

.calendar header {
  display: flex;
  align-items: center;;
  color: #777;
  cursor: default;
  font-size:1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}        

.month-display {
  align-items: center;
  display: inline-block;
  flex: 1;
}

input, textarea {
    margin: 1vw;
    border-radius: 0.5vw;
    padding: 0.5vw;
}

.header>input {    
    width: 10%;
}

header .search {
    width: 20%;
    border: #777 solid 1px;
    display: flex;
    margin: 1vw;
    padding: 0.5vw;
}

.search> input[type = text] {
    border-style: none;
    padding: 0 0.5vw;
    margin: 0;
    flex: 1;
    background: transparent;
}

header ul {
    position: absolute;
    margin: 3vw 0;
    width: 100%;    
    list-style: none;
    padding-inline-start: 0;
    width: auto;
}

header ul li {
    padding: 0.5vw;
    border: #aaa solid 1px;
}

header ul li:hover {
    padding: 0.7vw;
    background-color: rgb(5, 119, 43);
    cursor: pointer;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.mainBG {
    background: rgb(69, 46, 172);
    color: #fff;
}


.month-label { 
    margin: 1vw;
}
      
.arrow {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}
  
.week {
    border-top: solid 1px #aaa;
}

.week:first-child {
    border-top: none;
}
  
.day {
    display: flex;    
    flex: 1;
    flex-direction: column;
    height: 9vw;
    border-left: solid 1px #aaa;
    cursor: pointer;
    transition: all .2s;
    overflow: hidden;
}

.text-small {
    margin: 0.3vw;
    font-size: 2vw
}

.text-smaller {
    margin: 0.2vw;
    font-size: 1.5vw
}

.text-xs {
    margin: 0.1vw 1vw;
    font-size: 1vw
}

.day:hover {
    background: #ccc;
}

.day:first-child {
    border-left:none;
}

.day.today {
    background: #ccc;
}

.day.today p{
    background: rgb(69, 46, 172);
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 2.5vw;
    height: 2.5vw;
}

.day.different-month {
    color: #ccc;
}

.day.selected{
    background-color: #aaa
}

.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;    
  }
  
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-item {
    margin-top: 2vw;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}