/* .vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
} */

html {
  font-size: 62.5%;
}

body {
  background: #EFEFEF;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.mainBG {
    background: rgb(69, 46, 172);
    color: #fff;
}



